// Primary Colors
$deep-blue: #002D62;
$royal-blue: #0057B7;
$teal: #008080;

// Secondary Colors
$gold: #FFD700;
$emerald-green: #028A0F;
$silver-gray: #C0C0C0;

// Background & Neutral
$white: #FFFFFF;
$light-gray: #F4F4F4;

// Status Colors
$soft-red: #D9534F;
